@import "./fonts/fonts.css";

* {
  user-select: none;
  font-family: 'Roboto', sans-serif;
  -webkit-font-smoothing: subpixel-antialiased;
  text-rendering: optimizeSpeed;
}

body {
  margin: 0;
  padding: 0;
  color: #395163;
}

#root {    
  background: #F8F9FA;
  border-radius: 5px;
  height: 100vh;
  padding: 0 16px;
}

.show {
  display: flex !important;
}

#locating,
#install,
#uninstall,
#error {
  display: none;
  width: 100%;
  height: 100vh;
  flex-direction: column;
  align-items: stretch;
}

.content {
  height: calc(100vh - 96px);
  margin: 16px 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

img.demo {
  width: 100%;
  height: auto;
}

.note {
  margin-top: 16px;
  font-size: 14px;
  color: #6b869b;
  text-align: center;
}

button {
  background: #5F7DC9;
  border-radius: 2px;
  border: none;
  outline: none;
  font-size: 16px;
  font-weight: bold;
  text-transform: uppercase;
  text-align: center;
  color: white;
  height: 48px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0;
  transition: all 0.2s ease;
  box-shadow: 0 0 5px rgb(95, 125, 201, 0);
  position: relative;
}

button:hover {
  transition: all 0.2s ease;
  background: rgb(108, 139, 218);
  box-shadow: 0 0 15px rgb(95, 125, 201, 0.5);
}

button:active {
  box-shadow: 0 0 5px rgb(95, 125, 201, 0);
  background: rgb(87, 117, 190);   
}

#uninstall button,
button.outline {
  background: none;
  color: #5F7DC9;
  font-size: 14px;
  font-weight: normal;
}

button.loading {
  pointer-events: none;
}

button > .lds-ripple {
  display: none;
  transform: scale(0.5);
  position: absolute !important;
}

button.loading > span {
  display: none !important;
}

button.loading .lds-ripple div {
  border-color: #5f7dc9;
}

.lds-ripple,
button.loading > .lds-ripple {
  display: inline-block;
  position: relative;
  width: 64px;
  height: 64px;
}
.lds-ripple div {
  position: absolute;
  border: 4px solid #d2e2ec;
  opacity: 1;
  border-radius: 50%;
  animation: lds-ripple 1s cubic-bezier(0, 0.2, 0.8, 1) infinite;
}
.lds-ripple div:nth-child(2) {
  animation-delay: -0.5s;
}
@keyframes lds-ripple {
  0% {
    top: 28px;
    left: 28px;
    width: 0;
    height: 0;
    opacity: 1;
  }
  100% {
    top: -1px;
    left: -1px;
    width: 58px;
    height: 58px;
    opacity: 0;
  }
}
